a{
  text-decoration: none;
  color: black;
}
footer{
  background-color: #fff;
}

.links-container{
  display: flex;
  justify-content: space-between;
  padding: 5.2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0 7.7rem;
  .left,
  .right{
    display: flex;
    gap: 6rem;
    .link{
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
  img{
    width: 12.2rem;
  }
}

.socail-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 8rem 7.8rem;
  .socail-icons{
    display: flex;
    gap: 1.4rem;
    .socail-link{
      display: inline-block;
      padding: .5rem 1rem;
      border: 2px solid rgba(0, 0, 0, 0.699);
      font-size: 2rem;
      border-radius: 50%;
      &:hover{
        color: rgb(78, 78, 78);
      }
    }
  }
  .footer-details{
    font-weight: 700;
    font-size: 1.5rem;
  }
}



@media (max-width:63.6em){
  .links-container{
    flex-direction: column;
    text-align: center;
    img{
      margin: 4rem auto;
    }
    .left,
    .right{
      flex-direction: column;
      gap: 2rem;
    }
  }

  .socail-container{
    gap: 3rem;
    padding: 3rem 7.8rem;
  }
}
