<footer>
  <div class="links-container">
    <div class="left">
      <a href="#"class="link">Mobile app</a>
      <a href="#" class="link">Community</a>
      <a href="#" class="link">Company</a>
    </div>
    <img src="../../../assets/logo.png" alt="logo-img">
    <div class="right">
      <a href="" class="link">Help desk</a>
      <a href=""class="link">Blog</a>
      <a href=""class="link">Resources</a>
    </div>
  </div>
  <div class="socail-container">
    <div class="socail-icons">
      <a href="#" class="socail-link">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="#"class="socail-link">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
      <a href="#"class="socail-link">
        <i class="fa fa-google" aria-hidden="true"></i>
      </a>
      <a href="#" class="socail-link">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
    </div>
    <p class="footer-details">Lorem Ipsum is simply dummy text</p>
  </div>
</footer>
